<div class="d-flex align-items-center gap-3">
  <%= link_to institute_admin_trainers_path, class: "nav-link text-white" do %>
    <i class="bi bi-person-workspace"></i> Trainers
  <% end %>
  
  <%= link_to institute_admin_training_programs_path, class: "nav-link text-white" do %>
    <i class="bi bi-mortarboard"></i> Training Programs
  <% end %>
</div> 