<div class="card card-custom">
  <div class="card-header card-header-custom">
    <h5 class="mb-0">
      Edit <%= @training_program.program_type.titleize %> Program
    </h5>
  </div>
  
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div> 