<div class="card card-custom">
  <div class="card-header card-header-custom">
    <h5 class="mb-0">New Section</h5>
  </div>
  
  <div class="card-body">
    <%= render 'form', section: @section %>
  </div>
</div> 